a, p, li, span {

	color: var(--body__color);
	font-size: 13pt;
	font-family: var(--body__font);

	&.sub {

		opacity: 0.7;

	}

	&.large, &.call_to_action {

		font-size: 16pt;

	}

}

a {

	

}

h1 {

	color: var(--h1__color);
	font-size: 42pt;
	font-family: var(--header__font);
	font-weight: 700;
	
}

h2 {

	color: var(--h2__color);
	font-size: 28pt;
	font-family: var(--header__font);
	font-weight: 500;
	
}

h3 {

	color: var(--h3__color);
	font-size: 18pt;
	font-family: var(--header__font);
	font-weight: 500;
	
}

h4 {

	color: var(--h3__color);
	font-size: 15pt;
	font-family: var(--header__font);
	font-weight: 400;
	
}

h1, h2, h3, h4 {

	&.no_margin {

		margin: 0;

	}

}

button, input[type="submit"] {

	border: none;
	border-radius: @radius;

	padding: 13px 18px;

	color: var(--button__color);
	font-size: 11pt;
	font-weight: 700;

	background-color: var(--button__background_color);

	&:hover {

		color: var(--button__hover_color);
		background-color: var(--button__hover_background_color);

	}

	cursor: pointer;
	.transition();

}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="search"], .input, .textarea {

	border: @border_width solid var(--input__border_color);
	border-radius: @radius;

	padding: 12px 17px;
	
	color: var(--input__color);
	font-size: 11pt;
	font-family: var(--body__font);
	font-weight: 700;

	&::placeholder {

		color: @gray;

		opacity: 0.75;

	}

}

.tag {

	display: inline-block;

	border-radius: @radius;

	padding: 5px 17px;

	font-weight: 900;
	text-decoration: none;

	&.white {

		border: @border_width solid @black;

		padding: 4.5px 16.5px;

		color: @black;
		background-color: @white;

		&:hover {

			color: @white;

			background-color: @black;

		}

	}

	&.black {

		color: @white;

		background-color: @black;

		&:hover {

			background-color: @gray;

		}

	}

	&.red {

		background-color: @red;

		&:hover {

			background-color: darken(@red, 10%);

		}

	}

	&.blue {
	
		color: @white;

		background-color: @blue;

		&:hover {

			background-color: darken(@blue, 10%);

		}

	}

	cursor: pointer;
	.transition();

}

blockquote {

	position: relative;

	margin-left: 0;

	border-left: 5px solid @red;
	border-radius: 5px;

	padding: 20px 40px;

	color: var(--body__color);
	font-family: var(--body__font);

	&:before {

		position: absolute;

		top: 5px;
		left: 15px;

		font-size: 50px;

		content: "“";

	}

}

img {

	border-radius: @radius;

	&:hover {

		border-radius: @radius * 3;

		filter: brightness(80%);

	}

	cursor: pointer;
	.transition();

}
